<template>
  <hr
    class="contacts-seperator"
    :data-content="text"
  >
</template>

<script>
export default {
  name: 'ContactsSeperator',
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.contacts-seperator {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
}

.contacts-seperator:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.contacts-seperator:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: black;
  background-color: #EAEAEA;
}
</style>
