<template>
  <el-collapse-item>
    <template slot="title">
      <span class="contact-title">{{ contact.last_name }}, {{ contact.first_name }}</span>
    </template>

    <el-row
      class="xs-bottom-margin"
      type="flex"
      align="middle"
      :gutter="10"
    >
      <el-col
        :span="7"
        :offset="1"
      >
        Birthday:
      </el-col>

      <el-col :span="15">
        {{ contact.birthday }}
      </el-col>
    </el-row>

    <el-row
      class="xs-bottom-margin"
      type="flex"
      align="middle"
      :gutter="10"
      v-if="contact.addresses.length > 0"
    >
      <el-col
        :span="7"
        :offset="1"
      >
        Addresses:
      </el-col>

      <el-col :span="15">
        <div
          v-for="(address, address_index) in contact.addresses"
          :key="`adress-${address_index}`"
        >
          <span v-if="address.suite">
            {{ address.street }} {{ address.suite }}, {{ address.city }}, {{ address.state }} {{ address.zip_code }}
          </span>

          <span v-else>
            {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip_code }}
          </span>
        </div>
      </el-col>
    </el-row>

    <el-row
      class="xs-bottom-margin"
      type="flex"
      align="middle"
      :gutter="10"
    >
      <el-col
        :span="7"
        :offset="1"
      >
        Phone Numbers:
      </el-col>

      <el-col :span="15">
        <div
          v-for="(phone_number, phone_number_index) in contact.phone_numbers"
          :key="`phone_number-${phone_number_index}`"
        >
          ({{ phone_number.substring(0, 3) }}) {{ phone_number.substring(3, 6) }}-{{ phone_number.substring(6) }}
          <a class="contact-link sm-left-margin" :href="`sms:${phone_number}`"><i class="fa fa-comments" /></a>
          <a class="contact-link sm-left-margin" :href="`tel:${phone_number}`"><i class="fa fa-phone" /></a>
        </div>
      </el-col>
    </el-row>

    <el-row
      class="xs-bottom-margin"
      type="flex"
      align="middle"
      :gutter="10"
    >
      <el-col
        :span="7"
        :offset="1"
      >
        Email Addresses:
      </el-col>

      <el-col :span="15">
        <div
          v-for="(email, email_index) in contact.emails"
          :key="`email-${email_index}`"
        >
          {{ email }}
          <a class="contact-link sm-left-margin" :href="`mailto:${email}`"><i class="fa fa-envelope" /></a>
        </div>
      </el-col>
    </el-row>

    <el-row>
      <el-col class="center-text sm-top-margin" :span="24">
        <!-- <el-button size="small" @click="$emit('contact-edit')">Edit</el-button> -->
        <el-button type="danger" size="small" @click="$emit('contact-delete')">Delete</el-button>
      </el-col>
    </el-row>
  </el-collapse-item>
</template>

<script>
import { Button, Col, CollapseItem, Row } from 'element-ui'

export default {
  name: 'ContactCollapse',
  components: {
    'el-button': Button,
    'el-col': Col,
    'el-collapse-item': CollapseItem,
    'el-row': Row
  },
  props: {
    contact: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.contact-title {
  margin-left: 10px;
}

.contact-link:link, .contact-link:visited,
.contact-link:hover, .contact-link:active {
  font-size: 16px;
  color: #DD6E42;
}
</style>
