<template>
  <el-dialog
    title="Create Contact"
    :visible="show"
    :show-close="false"
    :width="width"
    :close-on-click-modal="false"
  >
    <el-form
      :model="create_contact_form"
      :rules="form_rules"
      size="small"
      ref="create_contact_form"
    >
      <el-form-item label="First Name" prop="first_name">
        <el-input v-model="create_contact_form.first_name" />
      </el-form-item>

      <el-form-item label="Last Name" prop="last_name">
        <el-input v-model="create_contact_form.last_name" />
      </el-form-item>

      <el-form-item label="Birthday" prop="birthday">
        <el-date-picker
          class="birthday-picker"
          v-model="create_contact_form.birthday"
          :editable="false"
          value-format="MM-dd-yyyy"
        />
      </el-form-item>

      <el-form-item class="is-required" label="Email(s)" prop="emails">
        <div class="md-bottom-margin">
          <el-input
            :class="[ 'input-new-tag', { 'error-border': email_input_error.length } ]"
            v-if="email_input_visible"
            v-model="email_input_value"
            ref="email_input"
            size="mini"
            @keyup.enter.native="handle_email_input_confirm"
            @blur="handle_email_input_confirm"
          />
          <el-button
            v-else
            :class="[ 'button-new-tag', { 'error-border': email_input_error.length } ]"
            size="small"
            @click="show_email_input()"
          >
            + New Email
          </el-button>
          <div class="error-text" v-if="email_input_error.length">
            {{ email_input_error }}
          </div>
        </div>
        <el-tag
          class="xs-top-margin"
          :key="`email-${email_index}`"
          v-for="(email, email_index) in create_contact_form.emails"
          closable
          :disable-transitions="false"
          @close="delete_email_entry(email_index)"
        >
          {{ email }}
        </el-tag>
      </el-form-item>

      <el-form-item class="is-required" label="Phone Numbers(s)" prop="phone_numbers">
        <div class="md-bottom-margin">
          <el-input
            :class="[ 'input-new-tag', { 'error-border': phone_number_input_error.length } ]"
            v-if="phone_number_input_visible"
            v-model="phone_number_input_value"
            ref="phone_number_input"
            size="mini"
            :maxlength="10"
            @keyup.enter.native="handle_phone_number_input_confirm"
            @blur="handle_phone_number_input_confirm"
          />
          <el-button
            v-else
            :class="[ 'button-new-tag', { 'error-border': phone_number_input_error.length } ]"
            size="small"
            @click="show_phone_number_input()"
          >
            + New Phone Number
          </el-button>
          <div class="error-text" v-if="phone_number_input_error.length">
            {{ phone_number_input_error }}
          </div>
        </div>
        <el-tag
          class="xs-top-margin"
          :key="`phone_number-${phone_number_index}`"
          v-for="(phone_number, phone_number_index) in create_contact_form.phone_numbers"
          closable
          :disable-transitions="false"
          @close="delete_phone_number_entry(phone_number_index)"
        >
          ({{ phone_number.substring(0, 3) }}) {{ phone_number.substring(3, 6) }}-{{ phone_number.substring(6) }}
        </el-tag>
      </el-form-item>

      <el-form-item label="Address(es)" prop="addresses">
        <div class="md-bottom-margin">
          <el-button
            class="button-new-tag"
            size="small"
            @click="add_address_dialog = true"
          >
            + New Address
          </el-button>
        </div>
        <el-tag
          class="xs-top-margin"
          :key="`address-${address_index}`"
          v-for="(address, address_index) in create_contact_form.addresses"
          closable
          :disable-transitions="false"
          @close="$delete(create_contact_form.addresses, address_index)"
        >
          <span v-if="address.suite">
            {{ address.street }} {{ address.suite }}, {{ address.city }}, {{ address.state }} {{ address.zip_code }}
          </span>

          <span v-else>
            {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zip_code }}
          </span>
        </el-tag>
      </el-form-item>
    </el-form>

    <el-dialog
      title="Add Address"
      :visible.sync="add_address_dialog"
      :width="width"
      :show-close="false"
      :close-on-click-modal="false"
      append-to-body
    >
      <el-form
        label-width="100px"
        label-position="right"
        :model="address_form"
        :rules="address_form_rules"
        size="small"
        ref="address_form"
      >
        <el-form-item label="Street" prop="street">
          <el-input v-model="address_form.street" />
        </el-form-item>

        <el-form-item label="Suite" prop="suite">
          <el-input v-model="address_form.suite" />
        </el-form-item>

        <el-form-item label="City" prop="city">
          <el-input v-model="address_form.city" />
        </el-form-item>

        <el-form-item label="State" prop="state">
          <el-input v-model="address_form.state" />
        </el-form-item>

        <el-form-item label="Zip Code" prop="zip_code">
          <el-input v-model="address_form.zip_code" :maxlength="5"/>
        </el-form-item>
      </el-form>

      <span slot="footer">
        <el-button @click="close_add_address_dialog()">Cancel</el-button>
        <el-button @click="add_address_to_contact()" type="primary">Add Address</el-button>
      </span>
    </el-dialog>

    <span slot="footer">
      <el-button @click="close_create_contact_dialog()">Cancel</el-button>
      <el-button @click="create_contact()" :loading="creating_contact" type="primary">Create Contact</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { Button, Col, DatePicker, Dialog, Form, FormItem, Input, Row, Tag } from 'element-ui'
import { mapActions } from 'vuex'
import { CREATE_CONTACT } from '@/store/PhoneBook.types'

export default {
  name: 'CreateNewContact',
  components: {
    'el-button': Button,
    'el-col': Col,
    'el-date-picker': DatePicker,
    'el-dialog': Dialog,
    'el-form': Form,
    'el-form-item': FormItem,
    'el-row': Row,
    'el-input': Input,
    'el-tag': Tag
  },
  props: {
    show: {
      type: Boolean,
      required: true
    },
    width: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      email_input_visible: false,
      email_input_value: '',
      email_input_error: '',
      phone_number_input_visible: false,
      phone_number_input_value: '',
      phone_number_input_error: '',
      add_address_dialog: false,
      creating_contact: false,
      create_contact_form: {
        first_name: '',
        last_name: '',
        birthday: null,
        addresses: [],
        phone_numbers: [],
        emails: []
      },
      address_form: {
        street: '',
        suite: '',
        city: '',
        state: '',
        zip_code: ''
      },
      form_rules: {
        first_name: [{ required: true, message: 'First name is required', trigger: 'blur' }],
        last_name: [{ required: true, message: 'Last name is required', trigger: 'blur' }],
        birthday: [{ required: true, message: 'Birthday is required', trigger: 'change' }]
      },
      address_form_rules: {
        street: [{ required: true, message: 'Street is required', trigger: 'blur' }],
        city: [{ required: true, message: 'City is required', trigger: 'blur' }],
        state: [{ required: true, message: 'State is required', trigger: 'blur' }],
        zip_code: [
          { required: true, message: 'Zip code is required', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              let digits_regex = /^\d+$/

              if (!digits_regex.test(value)) {
                callback(new Error('Zip code must contain only digits'))
              } else if (value.length !== 5) {
                callback(new Error('Zip code must contain 5 digits'))
              } else {
                callback()
              }
            },
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    ...mapActions('phone_book', [CREATE_CONTACT]),
    show_email_input () {
      this.email_input_visible = true
      this.$nextTick(_ => {
        this.$refs.email_input.$refs.input.focus()
      })
    },
    show_phone_number_input () {
      this.phone_number_input_visible = true
      this.$nextTick(_ => {
        this.$refs.phone_number_input.$refs.input.focus()
      })
    },
    delete_email_entry (email_index) {
      this.$delete(this.create_contact_form.emails, email_index)
      this.email_input_error = 'At least one email is required'
    },
    delete_phone_number_entry (phone_number_index) {
      this.$delete(this.create_contact_form.phone_numbers, phone_number_index)
      this.phone_number_input_error = 'At least one phone number is required'
    },
    handle_email_input_confirm () {
      let input_value = this.email_input_value
      let email_regex = /.+@.+\..+/

      if (input_value) {
        if (!email_regex.test(input_value)) {
          this.email_input_error = 'The provided email is not valid'
        } else {
          this.create_contact_form.emails.push(input_value)
          this.email_input_error = ''
          this.email_input_visible = false
          this.email_input_value = ''
        }
      } else {
        this.email_input_visible = false
        this.email_input_value = ''
      }
    },
    handle_phone_number_input_confirm () {
      let input_value = this.phone_number_input_value
      let digits_regex = /^\d+$/

      if (input_value) {
        if (!digits_regex.test(input_value)) {
          this.phone_number_input_error = 'Phone number must contain only digits'
        } else if (input_value.length !== 10) {
          this.phone_number_input_error = 'Phone number must contain 10 digits'
        } else {
          this.create_contact_form.phone_numbers.push(input_value)
          this.phone_number_input_error = ''
          this.phone_number_input_visible = false
          this.phone_number_input_value = ''
        }
      } else {
        this.phone_number_input_visible = false
        this.phone_number_input_value = ''
      }
    },
    close_add_address_dialog () {
      this.add_address_dialog = false
      this.$refs['address_form'].resetFields()
    },
    add_address_to_contact () {
      this.$refs['address_form'].validate((valid) => {
        if (valid) {
          this.create_contact_form.addresses.push({ ...this.address_form })
          this.close_add_address_dialog()
        }
      })
    },
    close_create_contact_dialog () {
      this.email_input_error = ''
      this.phone_number_input_error = ''
      this.$refs['create_contact_form'].resetFields()
      this.$emit('close-dialog')
    },
    create_contact () {
      this.$refs['create_contact_form'].validate((valid) => {
        if (this.create_contact_form.emails.length === 0) {
          this.email_input_error = 'At least one email is required'
          valid = false
        }

        if (this.create_contact_form.phone_numbers.length === 0) {
          this.phone_number_input_error = 'At least one phone number is required'
          valid = false
        }

        if (valid) {
          this.creating_contact = true

          this[CREATE_CONTACT](this.create_contact_form)
            .then((data) => {
              this.$emit(
                'add-contact-result',
                'success',
                `Your contact for ${data.first_name} ${data.last_name} has been created.`
              )
            })
            .catch(() => {
              this.$emit(
                'add-contact-result',
                'error',
                'There was an error creating your contact. Please try again later'
              )
            })
            .then(() => {
              this.creating_contact = false
              this.close_create_contact_dialog()
            })
        }
      })
    }
  }
}
</script>

<style>
.el-tag {
  margin-right: 10px;
}

.button-new-tag {
  height: 30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  width: 175px;
}

.input-new-tag {
  height: 30px;
  width: 175px;
  vertical-align: bottom;
}

.error-text {
  position: absolute;
  top: 65px;
  line-height: 12px;
  font-size: 12px;
  color: #f56c6c;
  width: 100%;
}

.error-border, .error-border > input {
  border-color: #f56c6c !important;
}

.birthday-picker {
  width: 100% !important;
}

.button-new-tag, .input-new-tag {
  width: 100%;
}
</style>
