<template>
  <div>
    <el-row
      class="logo-container"
      type="flex"
      justify="center"
      align="middle"
    >
      <el-col :span="24">
        <h1 class="company-name center-text">
          Connectly
        </h1>
        <div class="company-logo center-text">
          <i
            class="fa fa-address-card-o"
            aria-hidden="true"
          />
        </div>
      </el-col>
    </el-row>

    <el-row
      type="flex"
      justify="center"
      align="middle"
    >
      <el-col :span="24">
        <h2 class="center-text motto">
          A leader in SaaS contacts management
        </h2>

        <div class="center-text xl-top-margin">
          Create your very own private phone book
          <div class="sm-top-margin">
            <el-button
              type="primary"
              :loading="creating_phone_book"
              :disabled="disable_buttons"
              @click="create_phone_book()"
            >
              Create phone Book
            </el-button>
          </div>
        </div>

        <h3 class="center-text lg-top-margin lg-bottom-margin">
          - or -
        </h3>

        <div class="center-text xl-bottom-margin">
          Enter your existing phone book ID
          <div class="sm-top-margin">
            <el-input
              class="existing-phone-input"
              v-model="existing_phone_book_id"
            >
              <el-button
                slot="append"
                :loading="getting_existing_phone_book"
                :disabled="disable_buttons"
                @click="get_existing_phone_book()"
              >
                Submit
              </el-button>
            </el-input>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
i
<script>
import { Button, Col, Input, Row } from 'element-ui'
import { mapActions } from 'vuex'
import { GET_PHONE_BOOK, CREATE_PHONE_BOOK } from '@/store/PhoneBook.types'

export default {
  name: 'CreatePhoneBook',
  components: {
    'el-button': Button,
    'el-col': Col,
    'el-row': Row,
    'el-input': Input
  },
  data () {
    return {
      disable_buttons: false,
      creating_phone_book: false,
      getting_existing_phone_book: false,
      existing_phone_book_id: ''
    }
  },
  methods: {
    ...mapActions('phone_book', [
      GET_PHONE_BOOK,
      CREATE_PHONE_BOOK
    ]),
    create_phone_book () {
      this.creating_phone_book = true
      this.disable_buttons = true

      this[CREATE_PHONE_BOOK]()
        .then(({ phone_book_id }) => {
          this.$router.push({
            name: 'ViewPhoneBook',
            params: {phone_book_id: phone_book_id}
          })

          this.$emit(
            'dialog-message',
            'Success!',
            `Your personal phone book has been successfully created! Your unique phone book ID is '${phone_book_id}'. Do not lose this ID as it is the only way to access your phone book. It is recommended that you bookmark this page or write down this link: ${window.location.href}`
          )
        })
        .catch(() => {
          this.$emit(
            'toast-message',
            'error',
            'Our service is currently experiencing issues. Please try again later.'
          )
        })
        .then(() => {
          this.creating_phone_book = false
          this.disable_buttons = false
        })
    },
    get_existing_phone_book () {
      this.getting_existing_phone_book = true
      this.disable_buttons = true

      this[GET_PHONE_BOOK](this.existing_phone_book_id)
        .then(() => {
          this.$router.push({
            name: 'ViewPhoneBook',
            params: {phone_book_id: this.existing_phone_book_id}
          })
        })
        .catch(() => {
          this.$emit(
            'toast-message',
            'error',
            'The phone book ID you entered is invalid. Please try another ID.'
          )
        })
        .then(() => {
          this.getting_existing_phone_book = false
          this.disable_buttons = false
        })
    }
  }
}
</script>

<style scoped>
.motto {
  margin: 0;
  background-color: #C0D6DF;
  color: #4F6D7A;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-container {
  height: 250px;
  background-color: #4F6D7A;
}

.company-name {
  font-family: 'Indie Flower', cursive;
  font-size: 85px;
  color: #EAEAEA;
  margin: 0;
}

.company-logo {
  font-size: 70px;
  color: #C0D6DF;
}

.existing-phone-input {
  width: 300px;
}
</style>
