<template>
  <el-row
    class="logo-container"
    type="flex"
    align="middle"
  >
    <el-col
      :span="2"
      :offset="1"
      :lg="{span: 3, offset: 3}"
      :xl="{span: 3, offset: 4}"
    >
      <i
        class="fa fa-plus-square nav-link"
        @click="$emit('add-contact')"
      />
    </el-col>

    <el-col
      :span="18"
      :lg="{span: 12}"
      :xl="{span: 10}"
    >
      <h1 class="company-name center-text">
        Connectly
      </h1>
    </el-col>

    <el-col
      :span="2"
      :lg="{span: 3}"
      :xl="{span: 3}"
    >
      <i
        class="fa fa-sign-out nav-link float-right"
        @click="$emit('go-to-home')"
      />
    </el-col>
  </el-row>
</template>

<script>
import { Col, Row } from 'element-ui'

export default {
  name: 'ViewPhoneBookNav',
  components: {
    'el-col': Col,
    'el-row': Row
  }
}
</script>

<style scoped>
.logo-container {
  height: 60px;
  background-color: #4F6D7A;
}

.company-name {
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
  color: #EAEAEA;
  margin: 0;
}

.nav-link {
  font-size: 25px;
  color: #EAEAEA;
  cursor: pointer;
}
</style>
