<template>
  <div>
    <view-phone-book-nav
      @add-contact="show_create_contact_dialog = true"
      @go-to-home="go_to_home()"
    />

    <create-new-contact
      :show="show_create_contact_dialog"
      :width="dialog_width"
      @close-dialog="show_create_contact_dialog = false"
      @add-contact-result="handle_add_contact"
    />

    <div class="lg-top-margin">
      <el-row class="center-text">
        <el-col
          :offset="8"
          :span="8"
          :xs="{ span: 20, offset: 2 }"
          :xl="{ span: 6, offset: 9 }"
        >
          <template v-if="!loading_phone_book">
            <template v-if="sorted_contacts && sorted_contacts.length > 0">
              <el-input
                placeholder="Search Contacts"
                v-model="contacts_search_input"
              >
                <el-button
                  slot="append"
                  icon="el-icon-search"
                  @click="apply_search_term()"
                />
              </el-input>
              <el-button
                class="xs-top-margin"
                v-if="search_term_applied"
                size="mini"
                @click="clear_search_term()"
              >
                Clear search
              </el-button>
            </template>

            <template v-else>
              <div class="center-text">
                <div class="sm-bottom-margin">
                  Your phone book is empty
                </div>

                <el-button
                  type="primary"
                  @click="show_create_contact_dialog = true"
                >
                  Add Contact
                </el-button>
              </div>
            </template>
          </template>
        </el-col>
      </el-row>

      <el-row class="lg-top-margin">
        <el-col
          :span="12"
          :offset="6"
          :xs="{ span: 22, offset: 1}"
          :xl="{ span: 8, offset: 8 }"
        >
          <template v-if="!search_term_applied">
            <template v-if="sorted_contacts && sorted_contacts.length > 0">
              <div
                class="lg-bottom-margin"
                v-for="([key, contacts], partition_index) in sorted_contacts"
                :key="`partition-${partition_index}`"
              >
                <contacts-seperator :text="key" />

                <el-collapse>
                  <contact-collapse
                    v-for="contact in contacts"
                    :contact="contact"
                    :key="contact.uuid"
                    @contact-delete="handle_delete_contact(contact)"
                  />
                </el-collapse>
              </div>
            </template>
          </template>

          <template v-else>
            <el-collapse v-if="search_contacts_results().length > 0">
              <contact-collapse
                v-for="contact in search_contacts_results()"
                :contact="contact"
                :key="contact.uuid"
                @contact-delete="handle_delete_contact(contact)"
              />
            </el-collapse>

            <div
              class="center-text"
              v-else
            >
              Sorry, no contacts were found
            </div>
          </template>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { Button, Col, Collapse, CollapseItem, Input, Row } from 'element-ui'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { ARE_CONTACTS_LOADED, GET_PHONE_BOOK, GET_SORTED_CONTACTS, CLEAR_CONTACTS, DELETE_CONTACT } from '@/store/PhoneBook.types'
import ContactCollapse from './ContactCollapse'
import ViewPhoneBookNav from './ViewPhoneBookNav'
import ContactsSeperator from './ContactsSeperator'
import CreateNewContact from './CreateNewContact'

export default {
  name: 'ViewPhoneBook',
  components: {
    'contact-collapse': ContactCollapse,
    'contacts-seperator': ContactsSeperator,
    'view-phone-book-nav': ViewPhoneBookNav,
    'create-new-contact': CreateNewContact,
    'el-button': Button,
    'el-col': Col,
    'el-collapse': Collapse,
    'el-collapse-item': CollapseItem,
    'el-row': Row,
    'el-input': Input
  },
  data () {
    return {
      show_create_contact_dialog: false,
      window_width: window.innerWidth,
      loading_phone_book: true,
      contacts_search_input: '',
      search_term: '',
      search_term_applied: false
    }
  },
  computed: {
    ...mapGetters('phone_book', {
      ARE_CONTACTS_LOADED,
      sorted_contacts: GET_SORTED_CONTACTS
    }),
    dialog_width () {
      let dialog_width = '95%'

      if (this.window_width > 768) { dialog_width = '70%' }
      if (this.window_width >= 992) { dialog_width = '50%' }
      if (this.window_width >= 1200) { dialog_width = '35%' }
      if (this.window_width >= 1920) { dialog_width = '25%' }

      return dialog_width
    }
  },
  created () {
    this.get_existing_phone_book()
  },
  mounted () {
    window.addEventListener('resize', this.handle_window_resize)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handle_window_resize)
  },
  methods: {
    ...mapMutations('phone_book', [CLEAR_CONTACTS]),
    ...mapActions('phone_book', [GET_PHONE_BOOK, DELETE_CONTACT]),
    handle_window_resize (event) {
      this.window_width = event.currentTarget.innerWidth
    },
    go_to_home () {
      this[CLEAR_CONTACTS]()
      this.$router.push({ name: 'CreatePhoneBook' })
    },
    search_contacts_results () {
      return this.sorted_contacts
        .map(([key, contacts]) => {
          return contacts.filter((contact) => {
            let fname = contact.first_name.toLowerCase()
            let lname = contact.last_name.toLowerCase()

            return fname.includes(this.search_term) || lname.includes(this.search_term)
          })
        })
        .reduce((acc, contacts) => acc.concat(contacts), [])
    },
    apply_search_term () {
      this.search_term = this.contacts_search_input.toLowerCase()
      this.search_term_applied = true
    },
    clear_search_term () {
      this.contacts_search_input = ''
      this.search_term = ''
      this.search_term_applied = false
    },
    handle_add_contact (status, message) {
      this.$emit('toast-message', status, message)
    },
    handle_delete_contact (contact) {
      this[DELETE_CONTACT](contact.uuid)
        .then(() => {
          this.$emit(
            'toast-message',
            'success',
            'Your contact has been deleted'
          )
        })
        .catch(() => {
          this.$emit(
            'toast-message',
            'error',
            'Could not remove the selected contact. Try again later.'
          )
        })
    },
    get_existing_phone_book () {
      if (!this[ARE_CONTACTS_LOADED]) {
        let loading = this.$loading({
          lock: true,
          text: 'Loading contacts...',
          background: 'rgba(255, 255, 255, .5)'
        })

        this[GET_PHONE_BOOK](this.$route.params.phone_book_id)
          .then((data) => {
            loading.close()
            this.loading_phone_book = false
          })
          .catch(() => {
            this.$router.push({ name: 'CreatePhoneBook' })
            loading.close()
            this.$emit(
              'toast-message',
              'error',
              'The phone book ID you provided is invalid. Please try entering a new ID, or creating a new phone book.'
            )
          })
      } else {
        this.loading_phone_book = false
      }
    }
  }
}
</script>
