<template>
  <div id="app">
    <el-dialog
      :title="message_dialog.title" :visible.sync="message_dialog.visible"
      :width="dialog_width" center
      :close-on-click-modal="false"
    >
      <div class="center-text">
        {{ message_dialog.text }}
      </div>

      <span slot="footer">
        <el-button type="primary" @click="message_dialog.visible = false">OK</el-button>
      </span>
    </el-dialog>

    <router-view @toast-message="toast_message" @dialog-message="dialog_message" />
  </div>
</template>

<script>
import { Button, Dialog, Message } from 'element-ui'

export default {
  name: 'App',
  components: {
    'el-button': Button,
    'el-dialog': Dialog
  },
  data () {
    return {
      window_width: window.innerWidth,
      message_dialog: {
        title: '',
        text: '',
        visible: false
      }
    }
  },
  computed: {
    dialog_width () {
      return this.window_width < 769 ? '95%' : '50%'
    }
  },
  mounted () {
    window.addEventListener('resize', this.handle_window_resize)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handle_window_resize)
  },
  methods: {
    toast_message (type, message, duration = 5000) {
      Message.closeAll()
      Message({
        type,
        message,
        showClose: true,
        duration: duration,
        customClass: 'toast-message'
      })
    },
    dialog_message (title, text) {
      this.message_dialog.title = title
      this.message_dialog.text = text
      this.message_dialog.visible = true
    },
    handle_window_resize (event) {
      this.window_width = event.currentTarget.innerWidth
    }
  }
}
</script>

<style>
/*
 Colors: https://coolors.co/dd6e42-e8dab2-4f6d7a-c0d6df-eaeaea
*/

body {
  background-color: #EAEAEA;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.toast-message {
  height: 90px;
}

.toast-message .el-message__content {
  width: 290px;
  line-height: 1.25;
}

.center-text { text-align: center; }

.float-right { float: right; }

.xs-top-margin { margin-top: 5px; }
.xs-bottom-margin { margin-bottom: 5px; }

.sm-top-margin { margin-top: 10px; }
.sm-left-margin { margin-left: 10px; }
.sm-bottom-margin { margin-bottom: 10px; }

.md-bottom-margin { margin-bottom: 15px; }

.lg-top-margin { margin-top: 30px; }
.lg-bottom-margin { margin-bottom: 30px; }

.xl-top-margin { margin-top: 50px; }
.xl-bottom-margin { margin-bottom: 50px; }
</style>
